body {
  --pixelWidth: 20px;
  --pixelHeight: var(--pixelWidth);
  --pixelColor: rgb(0, 0, 0);
}

.drawpixel {
  display: flex;
  width: var(--pixelWidth);
  height: var(--pixelHeight);
  background-color: var(--pixelColor);
  visibility: hidden;
}

.drawpad {
  display: grid;
  grid-template-columns: repeat(28, var(--pixelWidth));
  row-gap: 1px;
  column-gap: 1px;
}

button {
  height: min-content;
}

.section {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

/* Center all stuff in the body*/
body {
  margin: 0;
  height: 100vh; /* Full height of viewport */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;     /* Center horizontally */
  background-color: #f0f0f0; /* Optional: light background */
}

/* Pad whole buttons section */
.buttons {
  padding: 10px;
}

#response {
  text-align: center;
  margin: 10px;
}

/* button padding */
.drawpad-button {
  margin: 5px !important;
}